[Unit]
Description=Mount unit for snapd, revision 17950
Before=snapd.service
After=zfs-mount.service

[Mount]
What=/var/lib/snapd/snaps/snapd_17950.snap
Where=/snap/snapd/17950
Type=squashfs
Options=nodev,ro,x-gdu.hide,x-gvfs-hide
LazyUnmount=yes

[Install]
WantedBy=default.target multi-user.target
